<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{SITENAME}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/site.css" media="screen" />
    <!--
    -->
</head>
<body>
    <div class="container">
            {% if article %}
            {{ article.content }}
            {% else %}
            {{ page.content }}
            {% endif %}
    </div>
        <div class="row">
            <footer class="span8 offset2" align="center">
                <ul>
                    <li><a href="https://www.apache.org/licenses/">License</a></li>
                    <li><a href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                    <li><a href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                    <li><a href="https://www.apache.org/security/">Security</a></li>
                    <li><a href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                    <li><a href="https://www.apache.org/">Apache Software Foundation</a></li>
                </ul>
                <p>Apache Buildsteam ,Buildstream,  Apache, the Apache feather logo, and the Apache Buildstream project logo are trademarks of The Apache Software Foundation.</p>
                <p>All other marks mentioned may be trademarks or registered trademarks of their respective owners. </p>
            </footer>
        </div>
    </div>
</body>
</html>
